<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Playlist(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% playlists.forEach(function(p) { %>
      <tr>
        <td><a href="/playlists/<%= p._id %>/edit">Edit</a></td>
      </div>
        <td><%= p.name %></td>
        <td><a href="/playlists/<%= p._id %>">Listen</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <img src="/images/headphones.png" >

 
  
<%- include('../partials/footer') %>