<%- include('../partials/header') %>

  <section id="show-page">
    <div>
      <h1>
        <%= playlist.name %>
      </h1>
    </div>
    <div>
      <%= playlist.song %>
    </div>
    <form action="/playlists/<%= playlist._id %>/songs/new %>">
      <button class="style-button" type="submit">ADD SONG</button>
    </form>
    <% playlist.songs.forEach(function(s) { %>
      <img class="user-image" alt="avatar" src="<%= s.userAvatar %>" referrerpolicy="no-referrer">
      <%- s.link %>
        <form action="/playlists/<%= playlist._id %>/songs/<%= s._id %>?_method=DELETE" method="POST">
          <button class="style-button" type="submit">REMOVE THIS SONG</button>
        </form>
        <% }) %>
          <%- include('../partials/footer') %>