<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= playlist.name %></div>
  <div>Rating: </div>
  <div><%= playlist.rating %></div>
  
  <!-- start cast list -->
  <div>Songs</div>
  <ul>
    <%- playlist.songs.map(p =>
      `<li>${p.name}</li>`
  </ul>
  <!-- end cast list -->
</section>
<!-- add to cast form below this comment -->
<form id="add-song-to-playlist" action="/playlists/<%= playlist._id %>/songs" method="POST">
  <select name="songId">
    <!-- Emit an option for each performer -->
    <%- songs.map(p => 
      `<option value="${s._id}">${s.title}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add to Playlist</button>
</form>

<br><br><h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/movies/<%= movie._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>

<% if (playlist.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% playlist.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"> <%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td>
          <strong>
            <%= (total / movie.reviews.length).toFixed(1) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
